<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/report.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Tech Crafter" class="logo">
        <nav>
            <ul class="menu">
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/report">REPORT CHECK</a>
                </li>
                <li>
                    <a href="#">ABOUT</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
    <h1>Enter Medical Report</h1>
    <form action="/process" method="POST">
        <textarea name="medical_report" ></textarea><br><br>
        <input type="submit" value="PROCESS">
    </form>
</div>
</body>
</html>
    <footer class="footer">
        <p>PROJECT MADE BY TECH CRAFTER</p>
       </footer>
</body>
</html>